Repository uwblueprint/focus-on-nature, pull requests merged in 2022-11, with the labels that each got.

#110 Camp Overview: Edit Camper Information
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/types.ts
  frontend/src/APIClients/CamperAPIClient.ts
  frontend/src/components/common/InputFieldWithLabel.tsx
  frontend/src/components/common/TextAreaWithLabel.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTables.tsx
  frontend/src/components/pages/CampOverview/EditCamperModal.tsx
  frontend/src/components/pages/CampOverview/EditCamperModal/EditCamperFormResponseSection.tsx
  frontend/src/components/pages/CampOverview/EditCamperModal/EditCamperModalForm.tsx
  frontend/src/components/pages/CampOverview/EditCamperModal/index.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/types/CamperTypes.ts
Labels: backend, frontend, ready to merge

#128 Connect Manage Sessions modal to API Client
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  frontend/src/APIClients/CampsAPIClient.ts
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/types/CampsTypes.ts
Labels: backend, frontend, ready to merge

#142 Create dummy files and components for add camp flow
  frontend/src/App.tsx
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/index.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/components/pages/CampsList/CampsNavigationHeading.tsx
  frontend/src/components/pages/CampsPage.tsx
  frontend/src/constants/Routes.ts
Labels: frontend, ready to merge

#143 Frontend - Waiver Section Edit/Delete
  frontend/src/components/pages/GlobalForms/WaiverTab/DeleteWaiverModal.tsx
  frontend/src/components/pages/GlobalForms/WaiverTab/EditWaiverModal.tsx
  frontend/src/components/pages/GlobalForms/WaiverTab/WaiverSectionCard.tsx
  frontend/src/components/pages/GlobalForms/WaiverTab/index.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
Labels: frontend, changes requested

#139 Bugs: Allow non-integer fee values, UPDATE endpoint fixes
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/services/implementations/campService.ts
Labels: bug, backend, ready to merge

#131 Feat/add question to form template (frontend)
  frontend/src/APIClients/AdminAPIClient.ts
  frontend/src/components/common/formQuestions/AddQuestionModal/QuestionOptionSection.tsx
  frontend/src/components/common/formQuestions/AddQuestionModal/index.tsx
  frontend/src/components/pages/GlobalForms/Footer/Footer.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/types/AdminTypes.ts
  frontend/src/types/CampsTypes.ts
Labels: frontend, ready to merge

#151 fixing lint issues on dev branch
  backend/typescript/rest/campRoutes.ts
  backend/typescript/rest/entityRoutes.ts
  backend/typescript/rest/userRoutes.ts
Labels: refactor, ready to merge

#148 Form Management: Form Template- Question Card & View Only Page Layout
  frontend/src/APIClients/AdminAPIClient.ts
  frontend/src/components/common/camps/RequiredTag.tsx
  frontend/src/components/common/formQuestions/QuestionCard.tsx
  frontend/src/components/common/formQuestions/QuestionsAccordionItem.tsx
  frontend/src/components/pages/GlobalForms/Footer/Footer.tsx
  frontend/src/components/pages/GlobalForms/FormTemplateTab/index.tsx
  frontend/src/components/pages/GlobalForms/WaiverTab/WaiverSectionCard.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/constants/FixedQuestions.ts
  frontend/src/theme/colors.ts
  frontend/src/utils/CampUtils.ts
Labels: frontend, ready to merge

#144 Feat: Create camps list table + page
  backend/typescript/services/implementations/campService.ts
  frontend/package.json
  frontend/src/APIClients/CampsAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/pages/CampOverview/CampDetails.tsx
  frontend/src/components/pages/CampsList/CampStatusLabel.tsx
  frontend/src/components/pages/CampsList/CampsNavigationHeading.tsx
  frontend/src/components/pages/CampsList/CampsTable.tsx
  frontend/src/components/pages/CampsList/DeleteCampConfirmationModel.tsx
  frontend/src/components/pages/CampsList/index.tsx
  frontend/src/components/pages/CampsPage.tsx
  frontend/src/theme/colors.ts
  frontend/src/utils/CampUtils.ts
  frontend/yarn.lock
Labels: frontend, ready for review

#146 Edit/Remove formQuestion from formTemplate backend
  backend/typescript/middlewares/validators/adminValidators.ts
  backend/typescript/rest/adminRoutes.ts
  backend/typescript/services/implementations/adminService.ts
  backend/typescript/services/interfaces/adminService.ts
Labels: backend, changes requested

#137 chore: clean up eslint warnings
  frontend/package.json
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/pages/AccessControl/index.tsx
  frontend/src/components/pages/CampOverview/CampDetails.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/UserSelect.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/components/pages/GlobalForms/Footer/WaiverAddSectionModal.tsx
  frontend/src/contexts/SampleContext.ts
  frontend/src/contexts/SampleContextDispatcherContext.ts
  frontend/src/reducers/SampleContextReducer.ts
Labels: refactor, ready for review

#145 Add stepper navigation in camp creation flow
  frontend/src/components/common/StepperNavigation/StepperTab.tsx
  frontend/src/components/pages/CampCreation/CampCreationNavStepper.tsx
  frontend/src/components/pages/CampCreation/CampCreationPages.ts
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/index.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/components/pages/CampOverview/CampDetails.tsx
  frontend/src/theme/colors.ts
Labels: frontend, ready to merge

#149 Create base components and file structure for registration
  frontend/src/App.tsx
  frontend/src/components/pages/RegistrantExperience/AdditionalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/Waiver/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/constants/Routes.ts
Labels: frontend, ready to merge

#136 feat: schedule sessions
  frontend/src/components/pages/CampCreation/ScheduleSessions/AddSessionsForm.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/CurrentSessionsView.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/ScheduledSessionsCard.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SessionDayButton.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SessionSidePanel.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/index.tsx
  frontend/src/theme/colors.ts
  frontend/src/theme/components/Button.ts
  frontend/src/types/CampsTypes.ts
  frontend/src/utils/CampUtils.ts
Labels: frontend, ready to merge, changes requested

#158 feat: Add empty state for camps table
  frontend/src/components/pages/CampsList/CampsTable.tsx
Labels: ready for review

#116 feat: Download CSV for Camp Session
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
  frontend/src/APIClients/CampsAPIClient.ts
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTables.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/utils/CSVUtils.ts
Labels: backend, frontend, ready to merge

#153 Add stepper to registrant experience
  frontend/src/components/pages/CampCreation/CampCreationNavStepper.tsx
  frontend/src/components/pages/CampCreation/CampCreationPages.ts
  frontend/src/components/pages/RegistrantExperience/AdditionalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationExperienceSteps.ts
  frontend/src/components/pages/RegistrantExperience/RegistrationNavStepper.tsx
  frontend/src/components/pages/RegistrantExperience/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/Waiver/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
Labels: frontend, ready to merge

#161 feat: edit and delete sessions
  frontend/src/components/common/DeleteModal.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/AddSessionsForm.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/CurrentSessionsView.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/ScheduledSessionsCard.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SessionDayButton.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SessionSidePanel.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
  frontend/src/theme/components/Button.ts
  frontend/src/utils/CampUtils.ts
Labels: frontend, ready to merge

#156 Implement add, delete and edit question functionality.
  frontend/src/components/common/camps/RequiredTag.tsx
  frontend/src/components/common/formQuestions/AddQuestionModal/QuestionOptionSection.tsx
  frontend/src/components/common/formQuestions/AddQuestionModal/index.tsx
  frontend/src/components/common/formQuestions/QuestionsAccordionItem.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/DeleteCustomQuestionModal.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/NoRegistrationQuestionsCard.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/RegistrationQuestionCard.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/theme/colors.ts
Labels: frontend, ready for review

#164 Fix frontend linter issues
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTables.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/utils/CSVUtils.ts
Labels: frontend, ready to merge

#140 Create calendar component in camp creation scheduled sessions
  frontend/package.json
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/pages/CampCreation/CampCreationNavStepper.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/Calendar/CalendarHeader.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/Calendar/index.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/AddSessionsForm.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/CurrentSessionsView.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/ScheduledSessionsCard.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/SessionDayButton.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/SessionSidePanel.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/index.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/constants/CampManagementConstants.ts
  frontend/src/theme/colors.ts
  frontend/src/utils/CampUtils.ts
  frontend/yarn.lock
Labels: frontend, ready to merge

#169 fix: margins in camp creation page
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/index.tsx
  frontend/src/components/pages/CampsList/CampsTable.tsx
  frontend/src/components/pages/CampsList/PreviewCampDrawer.tsx
Labels: frontend, ready for review

#167 fix: Auto log-out user instead of refreshing when token expires
  frontend/src/APIClients/BaseAPIClient.ts
Labels: bug, ready to merge
