Repository uwblueprint/focus-on-nature, pull requests merged in 2022-10, with the labels that each got.

#119 Cleanup code and linter fixes in frontend
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/crud/CreateForm.tsx
  frontend/src/components/crud/DisplayTableContainer.tsx
  frontend/src/components/crud/UpdateForm.tsx
  frontend/src/components/pages/AccessControl/ConfirmStatusChangeModal.tsx
  frontend/src/components/pages/AccessControl/UserStatusLabel.tsx
  frontend/src/components/pages/AccessControl/index.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTables.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
  frontend/src/components/pages/CreatePage.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/components/pages/DisplayPage.tsx
  frontend/src/components/pages/EditTeamPage.tsx
  frontend/src/components/pages/UpdatePage.tsx
  frontend/src/components/pages/__tests__/Default.test.tsx
  frontend/src/constants/Routes.ts
Labels: frontend, ready to merge

#118 feat: view camper details modal
  frontend/src/components/pages/CampOverview/CampersTable/CamperDetailsBadge.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/ViewCamperModal/PickupDropoffTable.tsx
  frontend/src/components/pages/CampOverview/ViewCamperModal/PickupDropoffTableRow.tsx
  frontend/src/components/pages/CampOverview/ViewCamperModal/index.tsx
  frontend/src/theme/colors.ts
  frontend/src/theme/textStyles.ts
  frontend/src/types/CamperTypes.ts
Labels: frontend, ready to merge

#120 feat: add camp overview footer (presentation)
  frontend/src/components/pages/CampOverview/Footer.tsx
  frontend/src/components/pages/CampOverview/index.tsx
Labels: frontend, ready to merge

#121 feat: add camp overview footer (camp deletion)
  frontend/src/APIClients/CampsAPIClient.ts
  frontend/src/components/pages/CampOverview/Footer.tsx
  frontend/src/components/pages/CampOverview/FooterDeleteModal.tsx
Labels: frontend, ready to merge

#122 feat: add camp overview footer (publish)
  frontend/src/components/pages/CampOverview/Footer.tsx
Labels: frontend, ready to merge

#125 Feat/display registration link
  frontend/src/components/pages/CampOverview/CampDetails.tsx
  frontend/src/components/pages/CampOverview/CampRegistrationLink.tsx
Labels: frontend, ready to merge

#126 feat: add waiver sections
  frontend/src/APIClients/AdminAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/pages/FormManagement/index.tsx
  frontend/src/components/pages/GlobalForms/Footer.tsx
  frontend/src/components/pages/GlobalForms/RegistrationFormTemplate.tsx
  frontend/src/components/pages/GlobalForms/WaiverAddSectionModal.tsx
  frontend/src/components/pages/GlobalForms/WaiverLiabilityPermissionForm.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/components/pages/GlobalFormsPage.tsx
  frontend/src/types/AdminTypes.ts
Labels: frontend, changes requested

#132 Waiver card view only
  frontend/src/APIClients/AdminAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/pages/GlobalForms/Footer/Footer.tsx
  frontend/src/components/pages/GlobalForms/Footer/WaiverAddSectionModal.tsx
  frontend/src/components/pages/GlobalForms/FormTemplateTab/index.tsx
  frontend/src/components/pages/GlobalForms/WaiverLiabilityPermissionForm.tsx
  frontend/src/components/pages/GlobalForms/WaiverTab/WaiverSectionCard.tsx
  frontend/src/components/pages/GlobalForms/WaiverTab/index.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/theme/colors.ts
  frontend/src/types/AdminTypes.ts
Labels: frontend, changes requested

#111 Create DELETE endpoint for multiple camp sessions
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge, changes requested

#133 added a temporary empty clauses state
  frontend/src/APIClients/AdminAPIClient.ts
  frontend/src/components/pages/GlobalForms/WaiverTab/WaiverSectionCard.tsx
  frontend/src/components/pages/GlobalForms/WaiverTab/index.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/types/AdminTypes.ts
Labels: frontend, ready to merge, changes requested

#135 Add error check for non-array request body
  backend/typescript/middlewares/validators/camperValidators.ts
Labels: bug, backend, ready to merge

#123 feat: Filter camps by year
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
Labels: backend, ready to merge

#127 Create bulk update camp sessions endpoint
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge, in review

#138 added the addQuestionToFormTemplate in the admin service
  backend/typescript/middlewares/validators/adminValidators.ts
  backend/typescript/rest/adminRoutes.ts
  backend/typescript/services/implementations/adminService.ts
  backend/typescript/services/interfaces/adminService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge, in review
