Repository uwblueprint/focus-on-nature, pull requests merged in 2022-12, with the labels that each got.

#166 feat: add registration form footer
  frontend/src/components/pages/RegistrantExperience/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/theme/index.ts
Labels: frontend, ready to merge

#170 fix: navbar login states
  frontend/src/components/common/NavBar.tsx
  frontend/src/constants/Routes.ts
Labels: bug, frontend, ready to merge

#172 removes the Camp Specific option from form template add question modal
  frontend/src/components/common/formQuestions/AddQuestionModal/index.tsx
  frontend/src/components/pages/GlobalForms/Footer/Footer.tsx
Labels: bug, frontend, ready to merge

#162 feat: edit delete form question
  backend/typescript/rest/adminRoutes.ts
  backend/typescript/services/implementations/adminService.ts
  backend/typescript/services/interfaces/adminService.ts
  backend/typescript/types.ts
  frontend/src/APIClients/AdminAPIClient.ts
  frontend/src/components/common/formQuestions/AddQuestionModal/index.tsx
  frontend/src/components/common/formQuestions/QuestionCard.tsx
  frontend/src/components/common/formQuestions/QuestionsAccordionItem.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/DeleteCustomQuestionModal.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/RegistrationQuestionCard.tsx
  frontend/src/components/pages/GlobalForms/FormTemplateTab/index.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/types/AdminTypes.ts
Labels: backend, frontend, ready to merge

#174 Fix: Fixes Bearer Token usage in edit/delete FormQuestion in form template
  frontend/src/APIClients/AdminAPIClient.ts
Labels: bug, backend, ready for review, urgent

#176 fix: remove python backend, previews on dev
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/lint.yml
Labels: bug, ready for review

#179 feat: add access table loading and empty state
  frontend/src/components/pages/AccessControl/index.tsx
Labels: frontend, ready for review

#182 feat: add side drawer view/delete
  frontend/src/components/common/DeleteModal.tsx
  frontend/src/components/pages/CampsList/CampsTable.tsx
  frontend/src/components/pages/CampsList/DeleteCampConfirmationModel.tsx
  frontend/src/components/pages/CampsList/PreviewCampDrawer.tsx
  frontend/src/components/pages/CampsList/index.tsx
Labels: frontend, ready for review

#175 Camp creation form
  frontend/src/assets/icon_image.svg
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
Labels: frontend, changes requested

#171 Implement camp creation footer component
  frontend/src/components/pages/CampCreation/CampCreationFooter.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/theme/components/Button.ts
Labels: frontend, ready for review, in review

#181 Refactor: Camp Create/Update should be single endpoint to handle all needs of frontend
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/formQuestionValidators.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
Labels: backend, refactor, ready to merge

#152 Edit Endpoint Route Perms
  backend/typescript/rest/adminRoutes.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/rest/entityRoutes.ts
  backend/typescript/rest/userRoutes.ts
Labels: backend, blocked, ready to merge, changes requested

#177 Create workflows for production deploys
  .github/actions/firebase-hosting/action.yml
  .github/actions/heroku-deploy/action.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/heroku-deploy-dev-ts.yml
  backend/typescript/server.ts
  frontend/.firebaserc
Labels: backend, frontend, ready for review

#200 Fix: mobile navigation stepper and persist waiver
  frontend/src/components/common/StepperNavigation/StepperTab.tsx
  frontend/src/components/pages/CampCreation/CampCreationNavStepper.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationExperienceSteps.ts
  frontend/src/components/pages/RegistrantExperience/RegistrationNavStepper.tsx
  frontend/src/components/pages/RegistrantExperience/Waiver/WaiverReducer.tsx
  frontend/src/components/pages/RegistrantExperience/Waiver/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/types/waiverTypes.tsx
Labels: frontend, ready to merge

#201 Make GET request on registration page
  frontend/src/components/pages/RegistrantExperience/index.tsx
Labels: frontend, ready to merge

#202 Fix: Conditionally renders EDLP question based on state from camp details page
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/constants/FixedQuestions.ts
Labels: frontend, ready to merge

#203 Waitlist dummy components and view only footer
  frontend/src/App.tsx
  frontend/src/components/pages/WaitlistExperience/ConfirmationPage.tsx
  frontend/src/components/pages/WaitlistExperience/PersonalInfo/index.tsx
  frontend/src/components/pages/WaitlistExperience/WaitlistFooter.tsx
  frontend/src/components/pages/WaitlistExperience/index.tsx
  frontend/src/constants/Routes.ts
Labels: frontend, ready to merge

#198 Create payment summary page
  frontend/src/components/pages/RegistrantExperience/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationNavStepper.tsx
  frontend/src/components/pages/RegistrantExperience/ReviewRegistration/PaymentSummary.tsx
  frontend/src/components/pages/RegistrantExperience/ReviewRegistration/ReviewInformation.tsx
  frontend/src/components/pages/RegistrantExperience/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/Waiver/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/theme/textStyles.ts
  frontend/src/types/RegistrationTypes.ts
Labels: frontend, ready for review, in review

#211 Fix: Supports optional secondary contact info rendering in campers table
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
Labels: bug, frontend, ready to merge

#196 Feat: Ability to create and edit camps
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
  frontend/src/APIClients/AdminAPIClient.ts
  frontend/src/APIClients/CampsAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/common/formQuestions/AddQuestionModal/index.tsx
  frontend/src/components/common/formQuestions/QuestionCard.tsx
  frontend/src/components/common/formQuestions/QuestionsAccordionItem.tsx
  frontend/src/components/pages/CampCreation/CampCreationFooter.tsx
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/RegistrationQuestionCard.tsx
  frontend/src/components/pages/CampCreation/RegistrationForm/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/components/pages/CampOverview/Footer.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/components/pages/CampsList/CampsTable.tsx
  frontend/src/components/pages/GlobalForms/Footer/Footer.tsx
  frontend/src/components/pages/GlobalForms/FormTemplateTab/index.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/constants/CampManagementConstants.ts
  frontend/src/constants/Routes.ts
  frontend/src/types/CampsTypes.ts
  frontend/src/utils/CampUtils.ts
Labels: backend, frontend, ready to merge, changes requested

#210 fix: edit modal primary button label
  frontend/src/components/common/formQuestions/AddQuestionModal/index.tsx
Labels: bug, frontend, ready to merge

#191 Personal info registration
  frontend/src/components/common/RequiredAsterisk.tsx
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/CamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/ContactCard.tsx
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/types/CamperTypes.ts
  frontend/src/types/PersonalInfoTypes.ts
Labels: frontend, ready for review

#215 Center-align status header on camps list table and access control table
  frontend/src/components/pages/AccessControl/index.tsx
  frontend/src/components/pages/CampsList/CampsTable.tsx
Labels: frontend, ready for review

#217 fix: session card/drawer wrapping
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/CurrentSessionsView.tsx
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/ScheduledSessionsCard.tsx
Labels: frontend, ready for review

#216 Registration Form: Fixing Scale of Accordion Component
  frontend/src/components/common/formQuestions/QuestionsAccordionItem.tsx
Labels: frontend, ready for review

#218 Fix: Typo in personal info finished calculation
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/CamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationFooter.tsx
Labels: bug, frontend, ready for review

#221 fix: delete camp button goes below edit on popover
  frontend/src/components/pages/CampsList/CampsTable.tsx
Labels: bug, frontend, ready to merge

#214 Session Selection
  frontend/src/assets/default_camp_image.png
  frontend/src/assets/person.svg
  frontend/src/assets/person_2.svg
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/CurrentSessionsView.tsx
  frontend/src/components/pages/GlobalForms/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/CamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/ContactCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/RegistrationExperienceSteps.ts
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/RegistrationNavStepper.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/PaymentSummary.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/WaiverReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/components/pages/RegistrantExperience/SessionSelection/CampDetailsSummary.tsx
  frontend/src/components/pages/RegistrantExperience/SessionSelection/CampSessionBoard.tsx
  frontend/src/components/pages/RegistrantExperience/SessionSelection/SessionCard.tsx
  frontend/src/components/pages/RegistrantExperience/SessionSelection/SessionSelectionStyles.ts
  frontend/src/components/pages/RegistrantExperience/SessionSelection/SessionSelectionTypes.ts
  frontend/src/components/pages/RegistrantExperience/SessionSelection/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/types/waiverTypes.tsx
  frontend/src/utils/CampUtils.ts
Labels: frontend, ready for review, in review

#207 Feat/multi session backend
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/services/interfaces/emailService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge, in review

#213 Waitlist: Enable multiple camper & multiple sessions waitlisting
  backend/typescript/middlewares/validators/waitlistedCamperValidators.ts
  backend/typescript/middlewares/validators/waitlistedCampersValidators.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/services/interfaces/emailService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge

#206 Refactor waiver registration with error handling
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/WaiverReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/types/waiverRegistrationTypes.ts
Labels: frontend, ready for review

#222 fix: Waiver clauses not loading
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/WaiverReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/types/waiverRegistrationTypes.ts
Labels: bug, frontend, ready to merge

#226 fix: Update camp details copy URL
  frontend/src/components/pages/CampOverview/CampDetails.tsx
Labels: bug, frontend, ready to merge

#205 feat: registration step 2 (additional info)
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionCards/CamperQuestionsCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionCards/EarlyDropOffLatePickupCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionCards/QuestionsCardWrapper.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionGroups/MultipleChoiceGroup.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionGroups/MultiselectGroup.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionGroups/TextInputGroup.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/additionalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/types/AdditionalInfoTypes.ts
  frontend/src/types/PersonalInfoTypes.ts
Labels: frontend, ready for review

#228 Change favicon and website metadata
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
Labels: frontend, ready to merge

#227 Remove camper from session broken
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/RemoveCamperModal/ConfirmModal.tsx
  frontend/src/components/pages/CampOverview/RemoveCamperModal/SelectModal.tsx
  frontend/src/components/pages/CampOverview/RemoveCamperModal/index.tsx
  frontend/src/theme/components/Checkbox.ts
  frontend/src/theme/index.ts
Labels: frontend, ready for review

#230 Camp List Table: Add a loading state when getting all the camps
  frontend/src/components/pages/CampsList/CampsTable.tsx
  frontend/src/components/pages/CampsList/index.tsx
Labels: frontend, ready for review

#232 Camp Overview: Change the EDLP badge on the camper to check for array length instead of array existence
  frontend/src/components/pages/CampOverview/CampersTable/CamperDetailsBadge.tsx
Labels: frontend, ready for review

#231 Camp edit/create CTA: Disable CTAs for camp create and edit when processing
  frontend/src/components/pages/CampCreation/CampCreationFooter.tsx
  frontend/src/components/pages/CampOverview/Footer.tsx
  frontend/src/components/pages/CampOverview/FooterDeleteModal.tsx
Labels: frontend, ready for review
