Repository uwblueprint/focus-on-nature, pull requests merged in 2022-04, with the labels that each got.

#35 feat: update email service
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/emailService.ts
Labels: enhancement, backend

#30 feat: refund confirmation page API
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
Labels: backend

#31 feat: add waitlisted campers to get camper api
  backend/typescript/models/campSession.model.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
Labels: backend

#21 feat: create get camp endpoint
  backend/typescript/models/camp.model.ts
  backend/typescript/models/campSession.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
Labels: backend

#43 refactor: add required fields to camper model
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/types.ts
Labels: refactor

#46 refactor: campLeader to campCoordinator
  backend/typescript/middlewares/validators/userValidators.ts
  backend/typescript/models/campcoordinator.model.ts
  backend/typescript/models/user.model.ts
  backend/typescript/rest/entityRoutes.ts
  backend/typescript/services/implementations/__tests__/userService.test.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/implementations/userService.ts
  backend/typescript/swagger.yml
  backend/typescript/types.ts
Labels: backend, refactor

#34 feat: add image upload
  .gitignore
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/types.ts
Labels: backend

#40 feat: issue Stripe refund when camper is deleted
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/package.json
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/yarn.lock
Labels: backend

#36 feat: registration api update for multiple children
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/types.ts
Labels: backend
