Repository uwblueprint/focus-on-nature, pull requests merged in 2022-06, with the labels that each got.

#59 feat: update camper model
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/types.ts
Labels: backend

#57 feat: waitlisted camper status endpoint
  backend/typescript/models/waitlistedCamper.model.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/types.ts
Labels: backend, changes requested

#64 feat: confirmation email for moving between camp sessions
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/emailService.ts
Labels: backend, ready for review

#67 fix: logout bug
  frontend/src/APIClients/BaseAPIClient.ts
Labels: frontend

#66 feat: Set up Chakra UI and style login page
  frontend/package.json
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/App.tsx
  frontend/src/assets/fon_logo.svg
  frontend/src/components/auth/Login.tsx
  frontend/src/constants/Routes.ts
  frontend/src/theme/colors.ts
  frontend/src/theme/components/Button.ts
  frontend/src/theme/index.ts
  frontend/src/theme/textStyles.ts
  frontend/yarn.lock
Labels: frontend, in review

#63 feat: check camp status before edit
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/services/implementations/campService.ts
Labels: ready for review, changes requested

#71 feat: add linkExpiry to WaitlistedCamper model
  backend/typescript/models/waitlistedCamper.model.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/types.ts
Labels: ready for review

#65 Camp Form Endpoints
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/formQuestionValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
Labels: ready for review
