Repository uwblueprint/focus-on-nature, pull requests merged in 2022-03, with the labels that each got.

#13 feat: setup email service methods
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/emailService.ts
Labels: enhancement, backend

#11 feat: create camp info csv + update mongoose
  backend/typescript/models/camp.model.ts
  backend/typescript/models/index.ts
  backend/typescript/package.json
  backend/typescript/rest/campRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/testUtils/testDb.ts
  backend/typescript/types.ts
  backend/typescript/yarn.lock
Labels: backend

#17 feat: create camp api
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/models/baseCamp.model.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
Labels: backend

#25 feat: update models to support dynamic registration forms
  backend/typescript/models/baseCamp.model.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/models/formQuestion.model.ts
  backend/typescript/models/formTemplate.model.ts
  backend/typescript/types.ts
Labels: backend

#24 feat: create cancellation API
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/types.ts
Labels: backend

#26 feat: update registration API with new camper model changes
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/models/camper.model.ts
Labels: backend

#32 feat: delete camper by camper ID API
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
Labels: backend

#27 feat: add camper edit API
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/types.ts
Labels: backend

#22 feat: waitlist API
  backend/typescript/middlewares/validators/waitlistedCamperValidators.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/types.ts
Labels: backend

#23 feat: create waiver model and api endpoints
  backend/typescript/middlewares/validators/adminValidators.ts
  backend/typescript/models/waiver.model.ts
  backend/typescript/rest/adminRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/adminService.ts
  backend/typescript/services/interfaces/adminService.ts
  backend/typescript/types.ts
Labels: backend

#20 feat: registration api capacity check
  backend/typescript/services/implementations/camperService.ts
Labels: backend

#33 refactor: baseCamp/camp model to camp/sessions
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/middlewares/validators/waitlistedCamperValidators.ts
  backend/typescript/models/baseCamp.model.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/models/campSession.model.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/models/campleader.model.ts
  backend/typescript/models/waitlistedCamper.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/__tests__/userService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/testUtils/testDb.ts
  backend/typescript/types.ts
Labels: refactor

#18 feat: update campleader camps
  backend/typescript/middlewares/validators/userValidators.ts
  backend/typescript/rest/userRoutes.ts
  backend/typescript/services/implementations/userService.ts
  backend/typescript/types.ts
Labels: backend
