Repository uwblueprint/focus-on-nature, pull requests merged in 2022-09, with the labels that each got.

#101 feat: camp overview - consolidating campers list and camp details, statuses
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/types.ts
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/common/camps/CampSessionInfoHeader.tsx
  frontend/src/components/pages/CampOverview/CampDetails.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CamperDetailsBadge.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTableFilterTag.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTableFilterTypes.ts
  frontend/src/components/pages/CampOverview/CampersTable/CampersTables.tsx
  frontend/src/components/pages/CampOverview/CampersTable/EmptyCampSessionState.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
  frontend/src/components/pages/CampOverview/UserSelect.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/components/pages/CampsPage.tsx
  frontend/src/components/pages/camps/CampersTableNavBar.tsx
  frontend/src/components/pages/camps/sampleData.ts
  frontend/src/theme/colors.ts
  frontend/src/theme/index.ts
  frontend/src/theme/textStyles.ts
  frontend/src/types/CampsTypes.ts
  frontend/src/types/WaitlistedCamperTypes.ts
  frontend/src/utils/CampUtils.ts
Labels: ready for review

#105 chore: push to staging from dev branch
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/heroku-deploy-dev-ts.yml
  README.md
Labels: ready to merge

#108 fix: get users
  .github/workflows/lint.yml
  backend/typescript/services/implementations/userService.ts
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/components/pages/CampOverview/index.tsx
Labels: bug, ready to merge

#109 feat: Camp overview page - edit camper information
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTableKebabMenu.tsx
  frontend/src/components/pages/CampOverview/EditCamperModal.tsx
Labels: frontend, changes requested

#106 feat: send waitlisted camper registration link
  frontend/src/APIClients/CamperAPIClient.ts
  frontend/src/components/pages/CampOverview/CampersTable/CamperDetailsBadge.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
  frontend/src/types/CamperTypes.ts
  frontend/src/types/CampsTypes.ts
  frontend/src/types/WaitlistedCamperTypes.ts
Labels: frontend, ready to merge

#107 feat: remove camper from waitlist
  frontend/src/APIClients/CamperAPIClient.ts
  frontend/src/components/common/RemoveCamperModal.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
Labels: frontend, changes requested

#113 Change toast styling to subtle
  frontend/src/components/pages/AccessControl/index.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
  frontend/src/theme/colors.ts
Labels: frontend, ready to merge
