Repository uwblueprint/focus-on-nature, pull requests merged in 2022-08, with the labels that each got.

#69 feat: update edit camp endpoint to accept file for thumbnail photo
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/types.ts
Labels: backend, changes requested

#73 feat: update camp model to have on object for location
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/types.ts
Labels: backend, ready for review

#77 Feat: Implement access control table view, search, filtering
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/pages/AccessControl/UserStatusLabel.tsx
  frontend/src/components/pages/AccessControl/index.tsx
  frontend/src/components/pages/AccessControlPage.tsx
  frontend/src/constants/AuthConstants.ts
  frontend/src/theme/colors.ts
  frontend/src/types/AccessManagementTypes.ts
  frontend/src/types/UserTypes.ts
  frontend/yarn.lock
Labels: frontend, ready to merge

#80 feat: session navigation component
  frontend/src/components/common/camps/CampSessionInfoHeader.tsx
  frontend/src/components/pages/CampsPage.tsx
Labels: frontend, ready for review

#90 refactor: removed hasCamera and hasLaptop from camper
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/types.ts
Labels: backend, ready for review

#91 feat: added relationshipToChild field in DTOs and models
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/models/camper.model.ts
  backend/typescript/types.ts
Labels: backend, ready for review

#89 Feat: Implement change user role to access control table
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/components/pages/AccessControl/index.tsx
  frontend/src/types/UserTypes.ts
Labels: frontend, ready to merge

#88 feat: camp overview registration list table + tabs
  frontend/src/assets/icon_custom_sunrise.svg
  frontend/src/assets/icon_sunrise.svg
  frontend/src/assets/icon_sunset.svg
  frontend/src/components/common/camps/CampSessionInfoHeader.tsx
  frontend/src/components/pages/CampsPage.tsx
  frontend/src/components/pages/GlobalFormsPage.tsx
  frontend/src/components/pages/LandingPage.tsx
  frontend/src/components/pages/camps/CamperDetailsBadgeGroup.tsx
  frontend/src/components/pages/camps/CampersTable.tsx
  frontend/src/components/pages/camps/CampersTableFilterTag.tsx
  frontend/src/components/pages/camps/CampersTableFilterTypes.ts
  frontend/src/components/pages/camps/CampersTableNavBar.tsx
  frontend/src/theme/colors.ts
  frontend/src/types/CamperTypes.ts
Labels: frontend, changes requested

#86 feat: waitlist table
  frontend/src/components/pages/camps/CamperDetailsBadge.tsx
  frontend/src/components/pages/camps/CampersTable.tsx
  frontend/src/components/pages/camps/CampersTableNavBar.tsx
  frontend/src/components/pages/camps/WaitlistedCampersTable.tsx
  frontend/src/components/pages/camps/sampleData.ts
  frontend/src/theme/colors.ts
  frontend/src/types/WaitlistedCamperTypes.ts
Labels: frontend, ready to merge

#76 Feat: create stripe products/prices
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/models/campSession.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/types.ts
  backend/typescript/utilities/stripeUtils.ts
Labels: backend, ready for review

#98 feat: add category field to form question
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/middlewares/validators/formQuestionValidators.ts
  backend/typescript/models/formQuestion.model.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge

#84 Feat: camp overview - adding and removing coordinators + photos
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/types.ts
  frontend/package.json
  frontend/src/APIClients/CampsAPIClient.ts
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/pages/CampOverview/UserSelect.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/types/CampsTypes.ts
  frontend/src/types/UserTypes.ts
  frontend/src/utils/CampUtils.ts
  frontend/yarn.lock
Labels: frontend, ready for review

#100 feat: Implement access control table change status function
  frontend/src/components/pages/AccessControl/ConfirmStatusChangeModal.tsx
  frontend/src/components/pages/AccessControl/index.tsx
Labels: frontend, ready for review
