Repository uwblueprint/focus-on-nature, pull requests merged in 2022-05, with the labels that each got.

#39 feat: add formTemplate model and api
  backend/typescript/middlewares/validators/adminValidators.ts
  backend/typescript/models/formTemplate.model.ts
  backend/typescript/rest/adminRoutes.ts
  backend/typescript/services/implementations/adminService.ts
  backend/typescript/services/interfaces/adminService.ts
  backend/typescript/types.ts
Labels: backend

#52 fix: moved capacity to campSession
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/models/campSession.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/types.ts
Labels: ready for review

#45 feat: use email service methods
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/emailService.ts
Labels: backend, changes requested

#48 fix: update user roles
  backend/typescript/services/implementations/userService.ts
Labels: backend, in review

#53 fix: prevent inactive users from signing in
  backend/typescript/services/implementations/authService.ts
Labels: ready to merge

#41 feat: add capacity check on campsession update
  backend/typescript/models/campSession.model.ts
  backend/typescript/services/implementations/camperService.ts
Labels: backend, ready for review

#54 feat: add delete waitlisted camper api
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
Labels: ready for review

#47 feat: add camp registration endpoints
  backend/typescript/middlewares/validators/campValidators.ts
  backend/typescript/models/camp.model.ts
  backend/typescript/rest/campRoutes.ts
  backend/typescript/services/implementations/__tests__/campService.test.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/interfaces/campService.ts
  backend/typescript/types.ts
Labels: backend, ready for review

#42 feat: bulk edit and delete campers
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/middlewares/validators/userValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
Labels: backend, in review
