Repository uwblueprint/focus-on-nature, pull requests merged in 2023-01, with the labels that each got.

#239 fix: Form Responses empty object bug in Registrant Experience
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionCards/CamperQuestionsCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/personalInfoReducer.tsx
Labels: ready to merge

#233 [1/n] Create confirm payment endpoint
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/utilities/stripeUtils.ts
Labels: backend, ready to merge

#234 [2/n] Modify registerCamper endpoints with Stripe creation
  backend/typescript/middlewares/validators/camperValidators.ts
  backend/typescript/rest/camperRoutes.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/interfaces/camperService.ts
  backend/typescript/types.ts
  backend/typescript/utilities/stripeUtils.ts
Labels: backend, ready to merge

#235 [3/n] Setup CamperAPIClient and trivial fixes
  frontend/src/APIClients/CamperAPIClient.ts
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/components/pages/LandingPage.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/additionalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/PaymentSummary.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/CamperTypes.ts
  frontend/src/types/CampsTypes.ts
  frontend/src/utils/RegistrationUtils.ts
Labels: frontend, ready to merge

#236 [4/n] Implements payment flow
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/utilities/CampUtils.ts
  backend/typescript/utilities/stripeUtils.ts
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/RegistrationErrorModal.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/RegistrationInfoCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/textStyles.ts
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/edlpSessionRegistration.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/PaymentSummary.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/WaiverReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/constants/RegistrationConstants.ts
  frontend/src/types/CamperTypes.ts
  frontend/src/types/RegistrationTypes.ts
  frontend/src/types/waiverRegistrationTypes.ts
  frontend/src/utils/CampUtils.ts
  frontend/src/utils/RegistrationUtils.ts
Labels: frontend, ready to merge

#240 [5/n] Fixes: EDLP logic
  backend/typescript/package.json
  backend/typescript/utilities/CampUtils.ts
  backend/typescript/yarn.lock
  frontend/package.json
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/RegistrationInfoCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/index.tsx
  frontend/src/utils/CampUtils.ts
  frontend/src/utils/RegistrationUtils.ts
  frontend/yarn.lock
Labels: bug, backend, frontend, ready to merge

#237 Waitlist registration entry
  backend/typescript/middlewares/validators/waitlistedCampersValidators.ts
  backend/typescript/models/waitlistedCamper.model.ts
  backend/typescript/services/implementations/campService.ts
  backend/typescript/services/implementations/camperService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/types.ts
  frontend/src/components/pages/CampOverview/CampersTable/CamperDetailsBadge.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/CamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/types/CamperTypes.ts
  frontend/src/utils/RegistrationUtils.ts
Labels: backend, frontend, ready to merge

#238 Feat/add personal info questions step1
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/QuestionCards/CamperQuestionsCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/CamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/ContactCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/QuestionGroups/MultipleChoiceGroup.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/QuestionGroups/MultiselectGroup.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/QuestionGroups/TextInputGroup.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/Waiver/WaiverReducer.ts
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/types/PersonalInfoTypes.ts
Labels: frontend, ready to merge

#223 Review Registration Personal Info
  frontend/src/components/common/GeneralAccordionButton.tsx
  frontend/src/components/common/formQuestions/QuestionsAccordionItem.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditCamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditCardFooter.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditContactCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditFormLabel.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
Labels: frontend, ready for review

#224 Add image upload to camp creation
  frontend/src/APIClients/CampsAPIClient.ts
  frontend/src/components/pages/CampCreation/CampCreationFooter.tsx
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/theme/colors.ts
Labels: frontend, ready for review

#248 Fix: Safari time picker
  frontend/src/components/common/TimePicker.tsx
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
Labels: bug, frontend, ready for review

#252 fix: require province to proceed
  frontend/src/components/pages/CampCreation/index.tsx
Labels: bug, frontend, ready for review

#249 Fix: camp creation validator logic
  frontend/src/components/pages/CampCreation/CampDetails/index.tsx
  frontend/src/components/pages/CampCreation/index.tsx
Labels: bug, frontend, ready for review

#247 Move campers modal
  backend/typescript/services/implementations/camperService.ts
  frontend/src/APIClients/CamperAPIClient.ts
  frontend/src/components/common/SelectCampersModal.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/MoveCamperModal/MoveModal.tsx
  frontend/src/components/pages/CampOverview/MoveCamperModal/SelectModal.tsx
  frontend/src/components/pages/CampOverview/MoveCamperModal/index.tsx
  frontend/src/types/CamperTypes.ts
Labels: backend, frontend, ready for review

#245 fix: session date ordering, hide completed sessions
  frontend/src/components/pages/CampCreation/ScheduleSessions/SidePanel/ScheduledSessionsCard.tsx
  frontend/src/components/pages/CampOverview/index.tsx
  frontend/src/components/pages/CampsList/CampsTable.tsx
  frontend/src/components/pages/CampsList/PreviewModalSessionRow.tsx
  frontend/src/components/pages/CampsList/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/RegistrationInfoCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/edlpSessionRegistration.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/AdditionalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/components/pages/RegistrantExperience/SessionSelection/CampSessionBoard.tsx
  frontend/src/components/pages/RegistrantExperience/SessionSelection/SessionCard.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/types/RegistrationTypes.ts
  frontend/src/utils/CampUtils.ts
  frontend/src/utils/RegistrationUtils.ts
Labels: bug, frontend, ready for review

#255 Fix: Call Remove waitlisted camper only once
  frontend/src/components/pages/CampOverview/CampersTable/CampersTables.tsx
  frontend/src/components/pages/CampOverview/CampersTable/WaitlistedCampersTable.tsx
  frontend/src/components/pages/CampsList/index.tsx
Labels: frontend, ready for review

#219 Add wait list step 1
  frontend/src/App.tsx
  frontend/src/components/common/EmptyNavBar.tsx
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/common/personalInfoRegistration/CamperCardDeletionButton.tsx
  frontend/src/components/common/personalInfoRegistration/PersonalInfoCard.tsx
  frontend/src/components/common/personalInfoRegistration/personalInfoReducerInterface.ts
  frontend/src/components/pages/RegistrantExperience/RegistrationResult/RegistrationInfoCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditCamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditContactCard.tsx
  frontend/src/components/pages/RegistrantExperience/SessionSelection/index.tsx
  frontend/src/components/pages/RegistrantExperience/index.tsx
  frontend/src/components/pages/WaitlistExperience/ConfirmationPage.tsx
  frontend/src/components/pages/WaitlistExperience/PersonalInfo/index.tsx
  frontend/src/components/pages/WaitlistExperience/PersonalInfo/personalInfoReducer.tsx
  frontend/src/components/pages/WaitlistExperience/WaitlistExperienceSteps.ts
  frontend/src/components/pages/WaitlistExperience/WaitlistFooter.tsx
  frontend/src/components/pages/WaitlistExperience/index.tsx
  frontend/src/utils/CampUtils.ts
Labels: frontend, ready for review

#254 Registrant Experience: Review Information Step (Add PersonalInfo and EmergencyContactQuestionsto EditCamperCard/ContactCard components)
  frontend/src/components/pages/CampCreation/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/CamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/PersonalInfo/ContactCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditCamperCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/EditContactCard.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/ReviewRegistration/ReviewInformation/index.tsx
Labels: frontend, ready for review

#258 Fix: Display EDLP tag applicable to a session
  frontend/src/components/pages/CampOverview/CampersTable/CamperDetailsBadge.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTable.tsx
  frontend/src/components/pages/CampOverview/CampersTable/CampersTables.tsx
  frontend/src/components/pages/CampOverview/EditCamperModal/index.tsx
  frontend/src/components/pages/CampOverview/ViewCamperModal/index.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/RegistrationFooter.tsx
  frontend/src/components/pages/RegistrantExperience/RegistrationSteps/index.tsx
  frontend/src/utils/CampUtils.ts
Labels: ready for review
